@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter', sans-serif;
}

h6{
font-family: cairo;
}
input{
    border: solid black 1px;
    border-radius: 5px;
    text-wrap: nowrap;
}
nav{
    display: flex;
    
}
ul{
    display: flex;
}
s{
    border: solid black 1px;
    border-radius: 5px;
}
#v{
    border: solid black 1px;
    border-radius: 5px;
}